/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body > div {
    height: 100%;
}

#app {
    height: 100%;
}


/* login css */
.login-container {
    display: flex;
    height: 100%;
}

.login-container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.content.sidebar {
    flex: 2;
    background: #58AF9B;
    color: white;
}

.content.active {
    flex: 4;
    background: white;
    color: #333;
}

.header {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}

.content.active .header {
    color: #58AF9B;
}

.sub-header {
    margin-bottom: 20px;
}

.sub-header .line {
    margin-bottom: 7px;
    font-weight: 300;
    text-align: center;
}

.form {
    margin-bottom: 20px;
}

.login-container input {
    border: 0;
    background: none;
    font-size: 16px;
    outline: none;
    margin-left: 3px;
    padding: 10px;
    flex: 1;
}
.login-container .input {
    background: #F4F8F7;
    padding: 6px 0 6px 20px;
    min-width: 350px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.login-container .button {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 30px;
    min-width: 150px;
    text-align: center;
}

.content.active .button {
    background: #32B09F;
    color: white;
    border-color: #32B09F;
}

/* chat css */
.chat {
    display: flex;
    height: 100%;
}
.avatar {
    height: 30px;
    border-radius: 5px;
}

.chat .sidebar {
    width: 300px;
    background: #5b728c;
    display: flex;
    flex-direction: column;
}

.chat .board {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.profile {
    background: #3d5167;
    padding: 8px 14px;
    color: #dedede;
    display: flex;
    align-items: center;
    height: 55px;
}
.profile .name {
    margin-left: 12px;
    font-size: 17px;
}

.rooms {
    margin: 12px 15px;
    font-size: 15px;
    color: #e8e8e8;
    flex: 1;
}
.rooms .title {
    margin-bottom: 10px;
}
.rooms .room {
    padding-bottom: 8px;
    cursor: pointer;
}

.add-room {
    border-top: 1px solid #8ea6c1;
    font-size: 15px;
    padding: 12px;
    color: #e8e8e8;
    cursor: pointer;
}

.board .title {
    font-weight: 700;
    font-size: 18px;
    padding: 14px 18px;
    border-bottom: 1px solid #ddd;
    height: 55px;
}
.messages {
    flex: 1;
    padding: 14px 18px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    overflow-y: scroll;
}

.message {
    display: flex;
    margin-top: 14px;
}
.message .avatar {
    margin-top: 3px;
}
.message .content {
    margin-left: 10px;
}
.message .metadata {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.message .username {
    font-size: 16px;
}
.message .time {
    margin-left: 10px;
    font-size: 13px;
    color: #888;
}
.message .text {
    font-weight: 300;
    font-size: 14px;
}

.board .input {
    padding: 10px 10px 15px 10px;
    display: flex;
    align-items: center;
}
.board input {
    flex: 1;
    padding: 10px 12px;
    font-size: 14px;
}
.board .button {
    padding: 0 5px 0 10px;
}